<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>|Moooooo|</title>
  </head>
  <body ng-app="app">
      <h1>Cowz rule!</h1>
      <div ng-controller = "greetz">
        {{hello}}
      </div>
      <br>
      <div ng-controller="cow">
        What would you like me to say?
        <input ng-model="moo">
        <pre>

  {{cowsay(moo)}}

      </div>
      <div ng-controller="cow2">
        And how about me?
        <input ng-model="moomoo">
        <pre>

  {{cowsay2(moomoo)}}
      </div>
  </body>
</html>
